@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Montserrat", cursive;
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    color: white;
}

:root {
    --bg-dark: #15102E;
    --bg-dark-2: #221D45;
    --prmary-color: #f475ff;
    --text-color: rgb(255, 255, 255);
}

.text-success {
    color: var(--prmary-color) !important;
    fill: var(--prmary-color) !important;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 13px;
}

.fs-9 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 8px;
}

.fs-12 {
    font-size: 6px;
}

.text-primary {
    color: var(--prmary-color) !important;
    fill: var(--prmary-color) !important;
}

.bg-primary {
    background-color: var(--prmary-color) !important;
}

.text-faded {
    opacity: 0.6;
}

.text-faded-2 {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--prmary-color);
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg-dark);
    min-height: 100vh;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    background-color: #101115;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(53, 53, 53);
    border-radius: 400px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--prmary-color);
    border-radius: 400px;
}

.navbar-brand img {
    width: 120px;
}

.nav-link {
    font-size: 15px !important;
    color: rgb(160, 152, 206) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #fff !important;
}

.navbar {
    width: 100%;
    background-color: #15102E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.089);
}


.rounded-2 {
    border-radius: 8px !important;
}
.badge-audit {
    color: var(--prmary-color);
    border: 1px solid var(--prmary-color);
    border-radius: 3px;
    padding: 1px 7px;
}

.badge-kyc {
    color: gold;
    border: 1px solid gold;
    border-radius: 3px;
    padding: 1px 7px;
}

.btn-1 {
    background-color: transparent;
    border: 1px solid var(--prmary-color);
    color: var(--prmary-color);
    display: flex;
    align-items: center;
    padding: 7px 0px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    min-width: 100px;
    justify-content: center;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid #798fb6;
    color: #798fb6;
    display: flex;
    align-items: center;
    padding: 6px 0px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    min-width: 100px;
    justify-content: center;
}

.btn-2:hover {
    color: white;
    background-color: #798fb6;
}

.btn-1 img {
    width: 20px;
}

.btn-1:hover {
    color: white;
    background-color: var(--prmary-color);
}

.btn-1.active {
    color: white;
    background-color: var(--prmary-color);
}

.slider-parent {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

@media (max-width:991px) {

    .table-parent {
        overflow-x: scroll;
    }

    .ws-table {
        min-width: 00px;
    }
}

.ws-box-1 {
    /* background-color: var(--bg-dark-2); */
    background-image: linear-gradient(90deg, rgb(34, 29, 69), rgb(43, 30, 73));
    border-radius: 10px;
}

.form-control,
.form-select {
    background-color: var(--bg-dark);
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    color: white !important;
}

.form-control:focus,
.form-select:focus {
    background-color: var(--bg-dark);
    color: white !important;
}

.badge-split {
    border: 1px solid #2d3748;
    font-size: 13px;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    background-color: #322F5A;
}

.badge-split span {
    padding: 5px 10px;
}

.badge-split span:nth-child(2) {
    /* background-color: var(--bg-dark-2); */
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1316px;
    }
}

.g-btn {
    background-image: linear-gradient(-40deg, #a441bf, #6353cf);
    font-weight: 500;
    font-size: 12px;
    padding: 9px 30px;
    border-radius: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: 2px solid var(--bg-dark);
    text-decoration: none;
    color: white;
}

.g-btn:hover {
    color: white;
    border: 2px solid #a441bf;
    background: transparent;
}

.g-btn-2 {
    background-image: linear-gradient(-40deg, #a441bf, #6353cf);
    font-weight: 500;
    font-size: 13px;
    padding: 8px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: none;
    transition: .3s;
    text-decoration: none;
    color: white;
}

.g-btn-2:hover {
    transform: scale(1.05);
    color: white;
}

.con-add {
    font-family: 'Rajdhani', sans-serif;
    color: var(--prmary-color);
    font-size: 17px;
    font-weight: 500;
}
.font-num{
    font-family: 'Rajdhani', sans-serif;
}
@media (max-width:991px) {
    .con-add{
        font-size: 13px;
        text-align: center;
        width: 100%;
        padding-top: 10px;
        overflow-x: hidden;
    }
}
.symbol-badge {
    background-image: linear-gradient(-40deg, #a441bf, #6353cf);
    font-weight: 600;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.timer span {
    font-family: 'Rajdhani', sans-serif;
}

.timer span:nth-child(1) {
    font-size: 37px;
    font-weight: 500;
}

.timer span:nth-child(2) {
    font-size: 16px;
}

.border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.144) !important;
}

.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.144) !important;
}

.price-row {
    padding: 11px 10px;
    padding-top: 12px;
}

.price-row span {
    font-size: 17px;
    font-family: 'Rajdhani', sans-serif;
}

.btn-gray {
    background-color: rgb(50, 47, 90);
    border: none;
    border-radius: 7px;
    font-size: 14px;
    padding: 10px 13px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.btn-gray:hover{
    color: white;
}
.btn-link img{
    width: 20px;
    margin-right: 6px;
}
a.ms-2.symbol-badge-,
.symbol-badge-plain {
    background: #6237d8;
}
.cs-spinner {
    background-color: white;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: live 1s infinite linear;
}
@keyframes live {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.wx-table{
    background-color: #281E48;
    overflow: hidden;
    border-radius: 5px;
}
.wx-table-td{
    padding: 16px 15px;
}
.td-logo{
    width: 48px;
    border-radius: 50%;
}
.chain-logo{
    width: 22px;
    border-radius: 50%;
}
.table-icon-1{
    width: 20px;
}
.text-underline{
    text-decoration: underline;
}